QTableView {
    font-size: 23px;
    gridline-color: #ccc;
    selection-background-color: #d0eaff;
    alternate-background-color: rgb(234, 239, 253);
}

QTableView::item {
    padding: 8px;
}

QTableView::item:hover {
    background-color: #f5f5f5;
}

QTableView::item:selected {
    background-color: #a8d8ff;
    color: black;
}

QHeaderView::section {
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eaeaea;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
}

QHeaderView::section:vertical {
    background-color: transparent;
    border: none;
}
